<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.icbat.vertical" version="9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Vertical (WIP)</name>
    <description>
        Dodge!
    </description>
    <author email="cobb.evan+vertical@gmail.com" href="http://icbat.github.io">
        Evan "icbat" Cobb
    </author>
    <content src="index.html"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="Orientation" value="portrait"/>
    <platform name="android">
        <preference name="KeepRunning" value="false"/>
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <!-- <icon src="assets/android/icon/ldpi.png" density="ldpi"/>
        <icon src="assets/android/icon/mdpi.png" density="mdpi"/>
        <icon src="assets/android/icon/hdpi.png" density="hdpi"/>
        <icon src="assets/android/icon/xhdpi.png" density="xhdpi"/>
        <icon src="assets/android/icon/xxhdpi.png" density="xxhdpi"/>
        <icon src="assets/android/icon/xxxhdpi.png" density="xxxhdpi"/> -->
        <!--
            ldpi splash-426x320
            mdpi splash-470x320
            hdpi splash- 640x480
            xhdpi 960x720
        -->
        <!-- <splash src="assets/android/splash/hdpi.png" density="port-hdpi"/>
        <splash src="assets/android/splash/ldpi.png" density="port-ldpi"/>
        <splash src="assets/android/splash/mdpi.png" density="port-mdpi"/>
        <splash src="assets/android/splash/xxxhdpi.png" density="port-xhdpi"/>
        <splash src="assets/android/splash/xxxhdpi.png" density="port-xxhdpi"/>
        <splash src="assets/android/splash/xxxhdpi.png" density="port-xxxhdpi"/> -->
    </platform>
    <allow-navigation href="https://vertical-game-stats.herokuapp.com/launch"/>
    <allow-navigation href="https://vertical-game-stats.herokuapp.com/gameStart"/>
    <allow-navigation href="https://vertical-game-stats.herokuapp.com/score"/>
    <allow-navigation href="https://vertical-game-stats.herokuapp.com/score/today"/>
</widget>
